#list-menu-container {
  display: grid;
  grid-template-columns: min(90%, 700px);
  justify-content: center;
  gap: 12px;
}

.items {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  justify-items: end;
  gap: 16px;
  background-color: var(--3rd-elevation-color);
  padding: 8px;
  border: var(--border);
  box-shadow: var(--shadow);
}

.items > h3 {
  justify-self: start;
  margin: 0;
}