.items {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 16px;
  padding: 8px;
}
.list-button {
  justify-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.list-button > h3 {
  margin: 0;
}