#list-form-container {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,.8);
  display: flex;
}
#list-form {
  margin: auto;
  width: min(80%, 300px);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 6px;
}
#list-form > input[type="text"] {
  flex: 1;
  outline: none;
}
#form-action-buttons {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}
#form-action-buttons > input[type="text"],
#list-form > button {
  padding: 3px;
  border-radius: 6px;
}