* {
  box-sizing: border-box;
  font-family: Sans-Serif;
}
button {
  border: none;
  background: none;
}
li {
  list-style: none;
}
html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
#root {
  flex: 1;
} 